html, body {
    height: 100%;
}
 
body {
    margin: 0;
    overflow: hidden;
    background-color: #E6E6FA
}


td{
    display:inline-block;
    height:50%;
    width:100%
}
tbody{
    display: table;
    height: inherit;  
}


#boardContainer {
    display:inline-block;
    height: 100%;
    width: 75%;
    background: #e6e0cf;
    padding-right: 80%;
    float: right;
}

#videos {
    padding-left: 1%;
    display:inline-block;
    height: 100%;
    width: 16%;
    float: left;
}



