html, body {
    height: 100%;
}
 
body {
    margin: 0;
    overflow: hidden;
    background-color: #E6E6FA
}


td{
    display:inline-block;
    height:50%;
    width:100%
}
tbody{
    display: table;
    height: inherit;  
}


#boardContainer {
    display:inline-block;
    height: 100%;
    width: 75%;
    background: #e6e0cf;
    float: right;
}

#videos {
   /* table-layout: fixed;
    border-collapse: collapse;*/
    padding-left: 1%;
    display:inline-block;
    height: 100%;
    width: 16%;
    float: left;
}

#localVideo{

	
}




#remoteVideo{

}

@media screen and (max-width: 600px) {
  #videos {
    visibility: hidden;
    clear: both;
    float: left;
    width: 1%;
    display: none;
  }

  #boardController{
    visibility: hidden;
    display: none;
    height: 100%;
    width: 99%;
    background: #e6e0cf;

  }
}